.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.icon-close {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-close .icon-close:hover {
  fill: var(--accent-color);
}
.btn-close {
  display: block;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 6px;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #000000;
  cursor: pointer;
}
.btn-submit {
  padding: 10px 52px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;

  display: flex;
  margin: 0 auto;

  letter-spacing: 0.06em;

  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.register-tittle {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}

.about-input {
  width: 448px;
  height: 40px;
  margin-bottom: 10px;
}

.register-lable {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #757575;
}

.register-message:focus {
  border-color: #2196f3;
}

.register-group {
  margin-bottom: 20px;
}

.register-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.register-wrap:not(:last-child) {
  margin-bottom: 10px;
}

.register-field {
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.register-field:focus {
  border-color: #2196f3;
}

.register-field:focus + .register-icon {
  fill: #2196f3;
  transition: fill 1250ms;
}
.register-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: rgba(33, 33, 33, 0.2);
}

.register-message {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  outline: transparent;
}

.register-message::placeholder {
  color: rgba(33, 33, 33, 0.2);
}

.register-aggreemet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 8px;
}

.register-aggreemet-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  letter-spacing: 0.03em;

  color: #757575;
}

.register-aggreemet-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}

.register-check-box:checked + .register-agreamen-icon > .icon-uncheck {
  opacity: 0;
}

.register-check-box:checked + .register-agreamen-icon > .icon-check {
  opacity: 1;
}

.icon-check {
  fill: #2196f3;
  opacity: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
